@media (min-width: 1000px) {
.hidden-md {
  display: block;
  }
}

@media (max-width: 999px) {
.hidden-md {
  display: none;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff6b6b;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.cart-feedback {
    margin: 10px 0px;
    background: #dff0d8 none repeat scroll 0% 0%;
    padding: 15px;
    color: #3c763d;
    font-size: 16px
}
.cart-feedback i {
    display: inline-block;
    margin: 0px 5px 0px 0px
}
.cart-feedback span {
    display: block;
    margin: 10px 0px 0px;
    font-size: 14px
}
.cart-feedback span a {
    display: inline-block;
    background: #f8f8f8 none repeat scroll 0% 0%;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #888;
    min-width: 110px;
    text-align: center
}
.cart-feedback span a:hover {
    background: #fff none repeat scroll 0% 0%;
    color: #444
}
.cart-feedback span .checkout {
    margin: 0px 0px 0px 10px
}
.cart-feedback.error {
    background: #ea8888 none repeat scroll 0% 0%;
    color: #fff
}